<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>Alexandria UniverSity</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lemon&family=Poppins:ital,wght@1,100&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">

</head>
<body>
	<section id="banner">
		<img src="image/logo.png" class="logo"> 
		<div class="banner-text">
			<h1>Alexandria UniverSity</h1>
			<p>Welcome to the world of Computer and Data Science</p>
			<div class="banner-btn">
		<!--Write The link of other html Website-->
			<!-- <a href="/data"> <span></span><strong>Register Now</strong></a> -->
			<a href="/register"> <span></span><strong>Register Now</strong></a>
			<a href="#"> <span></span><strong>Explore The Courses</strong></a>
		</div>
		</div>
	</section>

    <div id="sideNav">
		<nav>
			<ul>
				<li><a href="#banner">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#menu-food">Menu</a></li>
				<li><a href="#review">Review</a></li>
				<li><a href="#contact">Contact US</a></li>
			</ul>
		</nav>
	</div>
	<div  id="menuBtn">
		<img src="./image/menu.jpeg" id="menu">
	</div>
	<!--About-->
	<section id="about">
		<div class="title-text">
			<p>About US</p>
			<h1>Why Choose US</h1>
		</div>
		<div class="about-box">
			<div class="about-us">
				<h1>Team Experience</h1>
				<div class="about-exp">
					<div class="about-icon">
						<img src="./image/lunchIcon.png" alt="">
					</div>
					<div class="about-text">
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio consequatur facere qui incidunt, repudiandae ipsam sequi accusamus nesciunt aut quis nihil, rem sed quam illum ven</p></div>

				</div>
			</div>
			<div class="about-us-img">
				<img src="./image/profeeser.jpeg">
			</div>
		</div>
	</section>
<!--Services-->
     <section id="list_course">
    <div class="title-text">
	<p>Our Department</p>
	<h1>Register Now</h1>
</div>
<div class="menu-box">
	<div class="Course">
		<img src="./image/DataScience.jpeg" >
		<div class="overlay"></div>
		<div class="course-desc">
			<h3>Data Science</h3>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero excepturi magnam voluptates ipsa amet?</p>
		</div>
	</div>
	<div class="Course">
		<img src="./image/CyberSecurity.jpeg">
		<div class="overlay"></div>
        <div class="course-desc">
			<h3>Cyber Security</h3>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero excepturi magnam voluptates ipsa amet?</p>
		</div>
	</div>
	<div class="Course">
		<img src="./image/healhCare.jpeg" >
		<div class="overlay"></div>
		<div class="course-desc">
			<h3>Health Care</h3>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero excepturi magnam voluptates ipsa amet?</p>
		</div>

	</div>
	<div class="Course">
		<img src="./image/Buisness.jpeg">
		<div class="overlay"></div>
        <div class="course-desc">
			<h3>Buisness</h3>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam vero excepturi magnam voluptates ipsa amet?</p>
		</div>
	</div>

</div>
</section>
<!--Special Menu-->
<section id="Special-menu">
	<div class="container">
		<div class="title-text">
			<p>Our Special Courses</p>
			<h1>World of Data Science</h1>
		</div>
		<div class="menu-items">
			<div class="menu-items-left">
				<div class="menu-item">
					<img src="./image/DataScience.jpeg" alt="Data Science">
					<div>
						<h3>Data Science<span class="primary-text">3 hours</span></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, explicabo.</p>
					</div>
				</div>
				<div class="menu-item">
					<img src="./image/Food-Plate.png" alt="JUMBO CRAB SHRIMP">
					<div>
						<h3>Data Science Methodolgy <span class="primary-text">3 hours</span></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, explicabo.</p>
					</div>
				</div>
				<div class="menu-item">
					<img src="./image/lasagna.webp" alt="KOKTAIL JUCIE">
					<div>
						<h3>Cloud Computing<span class="primary-text">3 hours</span></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, explicabo.</p>
					</div>
				</div>
				<div class="menu-item">
					<img src="./image/biryani.webp" alt="CAPO STEAK">
					<div>
						<h3>Regression <span class="primary-text">3 hours</span></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, explicabo.</p>
					</div>
				</div>
				<div class="menu-item">
					<img src="./image/chocolate.jpg" alt="chocolate">
					<div>
						<h3>Advanced Calculus<span class="primary-text">3 hours</span></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, explicabo.</p>
					</div>
				</div>
				<div class="menu-item">
					<img src="./image/pizza.jpg" alt="CHEESE PIZZA">
					<div>
						<h3>Social Network <span class="primary-text">$18.00</span></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, explicabo.</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<button class="btn"><a href="#">Course List</a></button>
	</div>
</section>
<!--Our Time-->
<section id="daytime">
	<div class="container">
		<div class="title-text">
			<p>Our Time</p>
			<h1>When we open</h1>
		</div>
		<div class="daytime-items">
			<div class="daytime-item">
				<img src="./image/breckfastIcon.png" alt="Breakfast">
				<h3>First Lecture</h3>
				<p>8:30 am to 10:30 am</p>
			</div>
			<div class="daytime-item">
				<img src="./image/lunchIcon.png" alt="Lunch">
				<h3>Second Lecture</h3>
				<p>10:30 am to 12:30 pm</p>
			</div>
			<div class="daytime-item">
				<img src="./image/dinnerIcon.png" alt="Dinner">
				<h3>Third Lecture</h3>
				<p>12:30 pm to 2:30 pm</p>
			</div>
			<div class="daytime-item">
				<img src="./image/dessertIcon.png" alt="dessert">
				<h3>Fourth Lectuer</h3>
				<p>2:30 pm to 4:30 pm</p>
			</div>
		</div>
	</div>
</section>
<!--Review-->
<section id="review">
	<div class="title-text">
		<p>Review</p>
		<h1>What Students Says</h1>
	</div>
         <div class="review-row">
			<div class="review-col">
				<div class="user">
					<img src="./image/review_4.png">
					<div class="user-info">
						<h4>Ahmed Ali                        
							 <i class="fa-brands fa-facebook-f"></i>
							<i class="fa-brands fa-twitter"></i>
							<i class="fa-brands fa-instagram"></i></h4>
						<small>@AhmedAli</small>
					</div>
				</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi libero dolores voluptatibus cumque esse dolorem eaque vero ut nulla reprehenderit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, enim.</p>			</div>
			<div class="review-col">
				<div class="user">
					<img src="./image/review_4.png">
					<div class="user-info">
						<h4>Mohammed                        
							 <i class="fa-brands fa-facebook-f"></i>
							<i class="fa-brands fa-twitter"></i>
							<i class="fa-brands fa-instagram"></i></h4>
						<small>@Mohammed</small>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse tempore animi porro. In, eius odit eaque cupiditate at iusto! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nulla!</p>
			</div>
			<div class="review-col">
				<div class="user">
					<img src="./image/review_2.png">
					<div class="user-info">
						<h4>Ebrahem                        
							 <i class="fa-brands fa-facebook-f"></i>
							<i class="fa-brands fa-twitter"></i>
							<i class="fa-brands fa-instagram"></i></h4>
						<small>@Ebrahem</small>
					</div>
				</div>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet explicabo ipsam accusamus ea nulla quaerat nihil magnam impedit beatae ad? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, quis.</p>
			</div>
		 </div>

</section>

<div class="contact">
	<div class="container">
	  <div class="main-heading">
		<h2>Contact Us</h2>
		<p><i>
		  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget
		  tincidunt.</i>
		</p>
	  </div>
	  <div class="content">
		<form action="">
		  <input class="main-input" type="text" name="name" placeholder="Your Name" />
		  <input class="main-input" type="email" name="mail" placeholder="Your Email" />
		  <textarea class="main-input" name="message" placeholder="Your Message"></textarea>
		  <input type="submit" value="Send Message" />
		</form>
		<div class="info">
		  <h4>Get In Touch</h4>
		  <div class="footer-right">
			<p><i class="fa-solid fa-location-dot"></i><strong>Somoha</strong></p>
			<p><i class="fa-solid fa-phone"></i> <strong> 123456789</strong></p>
			<p><i class="fa-regular fa-envelope"></i> <strong>@UniverSity.com</strong></p>
		  </div>
		  <h4>Where We Are</h4>
		  <address>Awesome Address 17<br />New York, NYC<br />123-4567-890<br />USA</address>
		</div>
	  </div>
	</div>
	<div class="follow-us">
	  <h3>FOLLOW US</h3>
	  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
	  <a href="#"><i class="fa-brands fa-twitter"></i></a>
	  <a href="#"><i class="fa-brands fa-instagram"></i></a>
	</div>
   
  </div>
  <!-- End Contact -->





	<script>
		var menuBtn = document.getElementById("menuBtn")
		var sideNav = document.getElementById("sideNav")
		var menu = document.getElementById("menu")
		sideNav.style.right="-250px";
		menuBtn.onclick = function(){
			if(sideNav.style.right =="-250px"){
				sideNav.style.right="0";
				menu.src ="./image/close.jpeg"
		} else{
			sideNav.style.right="-250px";
			menu.src ="./image/menu.jpeg"

		}
	}

	</script>
</body>
</html>